.container
{
   display: inline-block;
}
.GalleryItem
{
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.gallery-img {
  width: 150px;   
  height: 150px;
  object-fit: cover; 
  border-radius: 8px;
}